.advantages {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 7px;

  @include mobile {
    display: block;
    margin-bottom: 35px;
  }

  &__logo {
    width: vw(195px);

    @include mobile {
      display: none;
    }
  }

  &__logo-img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  &__logo-desc {
    font-size: vw(13px);
    line-height: vw(13px);
    color: #535E8A;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }

  &__slider {
    width: vw(1290px);
    margin-left: auto;
    padding: 0 vw(50px);

    @include mobile {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    @include slickArrows;

    .slick {
      &-prev {
        transform: translate(0, -50%);
      }

      &-next {
        transform: translate(0, -50%);
      }
    }
  }

  &__slide {
    display: flex!important;
    flex-wrap: wrap;
    align-items: center;

    @include mobile {
      display: none!important;

      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        display: flex!important;
      }
    }
  }

  &__content {
    flex: 1;
  }

  &__number {
    font-size: vw(80px);
    line-height: vw(96px);
    color: #535E8A;
    margin-right: vw(11px);

    @include mobile {
      font-size: 80px;
      line-height: 96px;
      margin-right: 11px;
    }
  }

  &__title {
    font-size: vw(24px);
    font-weight: bold;
    line-height: vw(23px);
    color: #FF1F00;
    margin-bottom: 4px;

    @include mobile {
      font-size: 24px;
      line-height: 23px;
    }
  }

  &__title-txt {
    border-bottom: 1px solid #FF1F00;
  }

  &__desc {
    font-size: vw(18px);
    line-height: vw(18px);
    color: #535E8A;

    @include mobile {
      font-size: 16px;
      line-height: 16px;
    }
  }
}
