.aside {
  $self: &;
  width: 14.58vw;
  border-bottom: 1px solid #E6E6E6;
  float: left;

  @include mobile {
    display: none;
    width: 100%;
    position: fixed;
    left: 0;
    top: 119px;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;

    &.active {
      display: block;
    }
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #FFCC33;
    border-radius: 0px 20px 0px 0px;
    padding: vw(12px) vw(10px);
    position: relative;

    @include mobile {
      padding: 13px 16px;
      border-radius: 0px;
    }

    #{$self}__li:first-child &:after {
      display: none;
    }

    &:after {
      display: block;
      content: '';
      width: 1px;
      height: 15px;
      background: #E6E6E6;
      position: absolute;
      left: calc(100% - 1px);
      top: 0px;
    }
  }

  &__header-img {
    width: 1.30vw;
    height: 1.30vw;
    margin-right: 0.52vw;

    @include mobile {
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }
  }

  &__header-txt {
    font-size: 0.93vw;
    line-height: 0.93vw;
    color: #333;

    @include mobile {
      font-size: 18px;
      line-height: 18px;
    }
  }

  &__content {
    border: 1px solid #E6E6E6;
    border-width: 0 1px;
    padding: 15px 0.58vw;

    @include mobile {
      padding: 15px 16px;
    }
  }

  &__checkbox-list {
    margin: -8px;
  }

  &__checkbox-li {
    padding: 8px;
  }
}
