.page-main {
  margin-bottom: 90px;

  @include mobile {
    margin-bottom: 40px;
  }

  &__container {
    &:after {
      display: block;
      content: '';
      clear: both;
    }
  }

  &__content {
    float: left;
    width: calc(100% - 14.58vw);
    padding-left: 20px;

    @include mobile {
      padding-left: 0;
      width: 100%;
      float: none;
    }
  }
}
