.popular-cars {
  margin-bottom: 30px;

  @include mobile {
    display: none;
  }

  &--mobile {
    display: none;

    @include mobile {
      display: block;
      margin-bottom: 0;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
  }

  &__li {
    padding: 5px;

    &:first-child {
      width: 100%;
    }
  }

  &__header {
    font-size: 0.93vw;
    line-height: 0.93vw;
    font-weight: 500;
    height: 100%;
    display: flex;
    align-items: center;

    @include mobile {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 11px;
      justify-content: center;
    }
  }
}
