.checkbox {
  $self: &;
  position: relative;
  cursor: pointer;
  padding-left: vw(30px);
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  @include mobile {
    padding-left: 30px;
  }

  &__input {
    display: none;
  }

  &__icon {
    width: 1.04vw;
    height: 1.04vw;
    max-width: 20px;
    max-height: 20px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0px;

    @include mobile {
      width: 20px;
      height: 20px;
    }

    #{$self}__input:checked + & {
      .checkbox__icon-img {
        opacity: 1;
      }
    }
  }

  &__icon-img {
    width: 0.62vw;
    height: 0.62vw;
    max-width: 12px;
    max-height: 12px;
    opacity: 0;
    transition: opacity .3s;

    @include mobile {
      width: 12px;
      height: 12px;
    }
  }

  &__desc {
    font-size: 0.78vw;
    line-height: 1.04vw;
    color: #57555C;
    border-bottom: 1px dashed transparent;
    transition: border-color .3s;
    display: block;

    @include mobile {
      font-size: 15px;
      line-height: 15px;
    }

    #{$self}__input:checked + .checkbox__icon + & {
      color: #0044BB;

      .checkbox__txt {
        border-bottom: 1px dashed #0044BB;
      }
    }
  }
}
