.form-elem {
  width: 100%;
  font-size: vw(18px);
  line-height: vw(18px);
  color: #999;
  padding: vw(16px) vw(20px);
  background: #fff;
  border-radius: 3px;
  border: none;

  @include tablet {
    font-size: 18px;
    line-height: 18px;
    padding: 16px 20px;
  }

  &--textarea {
    min-height: 98px;
    resize: vertical;
    padding: vw(16px);

    @include tablet {
      padding: 16px;
      min-height: 82px;
    }
  }

  &__select-wrap {
    position: relative;
    background: #fff url(../img/icons/chevron-bot.png) no-repeat right vw(10px) center;
    background-size: vw(15px) vw(15px);

    @include tablet {
      background-size: 15px 15px;
      background-position: right 10px center;
    }
  }

  // select
  &--select {
    padding: vw(15px) vw(20px) vw(15px) vw(10px);
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    color: rgba(#999, .5);

    @include tablet {
      padding: 15px 20px 15px 10px;
    }

    option {
      color: #999;

      &:first-child {
        display: none;
      }
    }
  }

  &.changed {
    color: #999;
  }

  &--avto {
      border: 2px solid #ccc;
      border-radius: 2px;
      transition: border-color .3s;

      &.checked {
        border-color: #35B702;
        background: #fff url(../img/icons/check-mark.png) no-repeat left vw(10px) center;

        @include tablet {
          background-position: left 10px center;
        }
      }
  }

  &--model {
    option {
      display: none;

      &.hide {
        display: none;
      }

      &.matched {
        display: block;
      }
    }
  }

  &__wrap {
    position: relative;

    & > * {
      padding-left: vw(30px);

      @include tablet {
        padding-left: 30px;
      }
    }
  }
}
