{% set asideList = {
	asideItem0: {
		headerImg: 'timing-belt',
    headerTxt: 'Выездная техпомощь',
    checkboxList: {
    item0: {desc: 'Замена аккумулятора', checked: true, href: 'https://www.google.com/'},
    item1: {desc: 'Слив топлива', href: 'https://www.google.com/'},
    item2: {desc: 'Вскрытие автомобиля', href: 'https://www.google.com/'},
    item3: {desc: 'Откручивание болтов', href: 'https://www.google.com/'},
    item4: {desc: 'Подвоз топлива', href: 'https://www.google.com/'},
    item5: {desc: 'Прикурить автомобиль', href: 'https://www.google.com/'},
    }
	},
	asideItem1: {
		headerImg: 'battery',
    headerTxt: 'Выездной автоэлектрик',
    checkboxList: {
    item0: {desc: 'Замена генератора', href: 'https://www.google.com/'},
    item1: {desc: 'Замена ремня водяного насоса', href: 'https://www.google.com/'},
    item2: {desc: 'Замена гидроусилителя', href: 'https://www.google.com/'},
    item3: {desc: 'Замена датчика температуры', href: 'https://www.google.com/'},
    item4: {desc: 'Замена троса сцепления', href: 'https://www.google.com/'},
    item5: {desc: 'Замена гидроусилителя', href: 'https://www.google.com/'},
    item6: {desc: 'Слив топлива', href: 'https://www.google.com/'},
    item7: {desc: 'Вскрытие автомобиля', href: 'https://www.google.com/'},
    item8: {desc: 'Откручивание болтов', href: 'https://www.google.com/'},
    item9: {desc: 'Подвоз топлива', href: 'https://www.google.com/'},
    item10: {desc: 'Прикурить автомобиль', href: 'https://www.google.com/'},
    }
	},
	asideItem2: {
		headerImg: 'suspension',
    headerTxt: 'Мобильный шиномонтаж',
    checkboxList: {
    item0: {desc: 'Заблокировался замок зажигания', href: 'https://www.google.com/'},
    item1: {desc: 'Отключение иммобилайзера', href: 'https://www.google.com/'},
    item2: {desc: 'Поиск утечек тока в автомобиле', href: 'https://www.google.com/'},
    item3: {desc: 'Отключение сигнализации', href: 'https://www.google.com/'},
    item4: {desc: 'Компьютерная диагностика', href: 'https://www.google.com/'},
    item5: {desc: 'Замена предохранителей', href: 'https://www.google.com/'},
    item6: {desc: 'Замена гидроусилителя', href: 'https://www.google.com/'},
    item7: {desc: 'Замена датчика температуры', href: 'https://www.google.com/'},
    item8: {desc: 'Замена троса сцепления', href: 'https://www.google.com/'},
    }
	},
} %}

<aside class="aside js-aside">
	<ul class="aside__list">
		{% for item in asideList %}
			<li class="aside__li">
				<div class="aside__item">
					<div class="aside__header">
						<img src="assets/img/icons/{{item.headerImg}}.png" alt="" class="aside__header-img">
						<div class="aside__header-txt">{{item.headerTxt}}</div>
					</div>
					<div class="aside__content">
						<ul class="aside__checkbox-list">
							{% for item in item.checkboxList %}
								<li class="aside__checkbox-li">
									<div class="aside__checkbox-item">
										{% include 'checkbox.twig' with {
											mod: 'js-checkbox-link'
										} %}
									</div>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>
</aside>
