<label class="checkbox {{mod}}"{% if item.href %} data-href="{{item.href}}"{% endif %}>
	<input type="checkbox" class="checkbox__input" {% if item.checked %} checked="checked" {% endif %}>
	<div class="checkbox__icon"><img class="checkbox__icon-img" src="assets/img/icons/check-mark--blue.png" alt=""></div>
	<span class="checkbox__desc"><span class="checkbox__txt">{{item.desc}}</span></span>
</label>
