<form action="" class="form-help js-form-help">
	<div class="form-help__container">
		<div class="form-help__item">
			<img src="assets/img/sellout-guy.png" alt="" class="form-help__man">
			<div class="form-help__info">
				<div class="form-help__header">
					<span class="form-help__header-txt">
						<span class="form-help__steps js-steps js-steps-1">КАКОЙ У ВАС АВТОМОБИЛЬ?</span>
						<span class="form-help__steps js-steps js-steps-2">ЧТО НУЖНО СДЕЛАТЬ?</span>
						<span class="form-help__steps js-steps js-steps-3">ВАШИ КОНТАКТЫ:</span>
					</span>
				</div>
				<div class="form-help__desc">
					<span class="form-help__steps js-steps js-steps-1">Выберите неисправность автомобиля</span>
					<span class="form-help__steps js-steps js-steps-2">Выберите неисправность автомобиля</span>
					<span class="form-help__steps js-steps js-steps-3">Ваше имя и номер телефона, оставьте комментарий</span>
				</div>
			</div>
			<ul class="form-help__form-list">
				<li class="form-help__form-li form-help__form-li--50 js-steps js-steps-1">
					{% include 'select.twig' with {
              id: 'brand',
              mod: 'form-elem--avto form-elem--brand',
              selectList: {
                item0: {
                  txt: 'Марка автомобиля',
                  value: 'None'
                },
                item1: {
                  txt: 'BMW',
                  value: 'BMW',
                },
                item2: {
                  txt: 'Mazda',
                  value: 'Mazda'
                },
                item3: {
                  txt: 'Toyota',
                  value: 'Toyota'
                },
              }
            } %}
				</li>
				<li class="form-help__form-li form-help__form-li--50 js-steps js-steps-1">
					{% include 'select.twig' with {
              id: 'model',
              mod: 'form-elem--avto form-elem--model',
              disabled: 'disabled',
              selectList: {
                item0: {
                  txt: 'Модель',
                  value: 'None'
                },
                item1: {
                  txt: 'x1',
                  value: 'x1',
                  group: 'BMW'
                },
                item2: {
                  txt: 'x5',
                  value: 'x5',
                  group: 'BMW'
                },
                item3: {
                  txt: 'x6',
                  value: 'x6',
                  group: 'BMW'
                },
                item4: {
                  txt: 'mx-5',
                  value: 'mx-5',
                  group: 'Mazda'
                },
                item5: {
                  txt: '3',
                  value: '3',
                  group: 'Mazda'
                },
                item6: {
                  txt: 'rx8',
                  value: 'rx8',
                  group: 'Mazda'
                },
                item7: {
                  txt: 'camri',
                  value: 'camri',
                  group: 'Toyota'
                },
                item8: {
                  txt: '4Runner',
                  value: '4Runner',
                  group: 'Toyota'
                },
                item9: {
                  txt: 'Avalon',
                  value: 'Avalon',
                  group: 'Toyota'
                },
              }
            } %}
				</li>
				<li class="form-help__form-li js-steps js-steps-2">
					<div class="js-steps js-steps-2 js-total-text"></div>
					{% include 'select.twig' with {
              id: 'malfunction',
              mod: 'form-elem--avto form-elem--malfunction',
              selectList: {
                item0: {
                  txt: 'Выберите неисправность',
                  value: 'None'
                },
                item1: {
                  txt: 'Замена аккмулятора',
                  value: 'repair-acum',
                },
                item2: {
                  txt: 'Слив топлива',
                  value: 'fuel',
                },
								item3: {
									txt: 'Вскрытие автомобиля',
									value: 'open-car'
								}
              }
            } %}
				</li>
				<li class="form-help__form-li form-help__form-li--50 js-steps js-steps-3">
					{% include 'input.twig' with {
						placeholder: 'Имя',
						mod: 'form-elem--avto',
						required: 'required'
					} %}
				</li>
				<li class="form-help__form-li form-help__form-li--50 js-steps js-steps-3">
					{% include 'input.twig' with {
						placeholder: 'Телефон для связи',
						type: 'phone',
						mod: 'form-elem--avto form-elem--phone',
						required: 'required'
					} %}
				</li>
				<li class="form-help__form-li js-steps js-steps-3">
					{% include 'textarea.twig' with {
						placeholder: 'Комментарий',
						mod: 'form-elem--avto'
					} %}
					<div class="js-steps js-steps-3 js-total-text"></div>
				</li>
			</ul>
			<button type="button" class="btn form-help__submit js-btn-next-step disabled">Продолжить</button>
			<div class="form-help__submit-wrap js-steps js-steps-3">
				<button type="submit" class="btn form-help__submit js-btn-submit">Отправить заявку</button>
				<label class="form-help__checkbox">
					<input type="checkbox" class="form-help__checkbox-input" checked="checked">
					<span class="form-help__checkbox-icon"></span>
					<span class="form-help__checkbox-desc">Я согласен на обработку персональных данных</span>
				</label>
			</div>
		</div>
	</div>

	<div class="form-help__cars">
		<div class="form-help-cars__item"><img src="assets/img/taxi.png" alt="" class="form-help__success-img"></div>
		<div class="form-help-cars__item"><img src="assets/img/car-repair.png" alt="" class="form-help__success-img"></div>
	</div>
</form>

<div class="form-help__success">
	<div class="form-help__container">
		<img src="assets/img/sellout-guy.png" alt="" class="form-help__success-man">
		<div class="form-help__success-content">
			<div class="form-help__header">
				<span class="form-help__header-txt">
					СПАСИБО ЗА ЗАЯВКУ!
				</span>
			</div>
			<div class="form-help__desc">Автомеханик свяжется с вами в течении 2 минут</div>
			<div class="form-help__success-cars">
				<div class="form-help__success-car"></div>
				<div class="form-help__success-car"></div>
				<img src="assets/img/taxi.png" alt="" class="form-help__success-img">
				<img src="assets/img/car-repair.png" alt="" class="form-help__success-img">
			</div>
		</div>
	</div>
</div>
