<header class="page-header">
	<div class="container page-header__container">
		<a href="links.html" class="page-header__logo">
			<img src="assets/img/logo.png" alt="" class="page-header__logo-img">
			<span class="page-header__logo-content">
				<div class="page-header__logo-header">СРОЧНАЯ</div>
				<div class="page-header__logo-desc">ТЕХНИЧЕСКАЯ ПОМОЩЬ</div>
			</span>
		</a>
		<div class="page-header__location">
			<img src="assets/img/icons/navigation.png" alt="" class="page-header__location-img">
			<div class="page-header__location-desc">Москва</div>
		</div>
		{% include 'navigation.twig' %}
		<div class="page-header__contacts">
			<a href="tel:+74954320777" class="page-header__contacts-phone">
				<img src="assets/img/icons/24.png" alt="" class="page-header__contacts-icon">
				<span class="page-header__phone-txt page-header__phone-txt--start">
					+7 495
					<span class="page-header__phone-txt page-header__phone-txt--end">432-0777</span>
				</span>
			</a>
			<div class="page-header__contacts-desc">Круглосуточный выезд автомеханика</div>
		</div>
	</div>
</header>