{% set personList = {
	personItem0: {
		avaSrc: 'ava__0',
		name: 'Александр',
		aboutList: {
			item0: {
				txt: 'Опыт работы 10 лет'
			},
			item1: {
				txt: 'Приедет через 15 минут'
			}
		},
		phoneHref: '+74951322575',
		phoneNumber: '+7 (495) 132-25-75',
		sliderList: {
			item0: {
				imgSrc: 'person-card__0',
				galleryName: 'gallery-0',
			},
			item1: {
				imgSrc: 'person-card__1',
				galleryName: 'gallery-0',
			},
			item2: {
				imgSrc: 'person-card__2',
				galleryName: 'gallery-0',
			},
			item3: {
				imgSrc: 'person-card__3',
				galleryName: 'gallery-0',
			},
			item4: {
				imgSrc: 'person-card__4',
				galleryName: 'gallery-0',
			},
			item5: {
				imgSrc: 'person-card__0',
				galleryName: 'gallery-0',
			},
			item6: {
				imgSrc: 'person-card__1',
				galleryName: 'gallery-0',
			},
			item7: {
				imgSrc: 'person-card__2',
				galleryName: 'gallery-0',
			},
			item8: {
				imgSrc: 'person-card__3',
				galleryName: 'gallery-0',
			},
			item9: {
				imgSrc: 'person-card__4',
				galleryName: 'gallery-0',
			},
		},
    servicesList: {
      item0: {
        desc: 'Аварийный слив топлива',
        priceNumber: '700'
      },
      item1: {
        desc: 'Зарядка аккумулятора',
        priceNumber: '2 500'
      },
    },
    servicesNumber: '25',
    ratingScore: '4.8'
	},
	personItem1: {
		avaSrc: 'ava__1',
		name: 'Юрий',
		statusBusy: true,
		aboutList: {
			item0: {
				txt: 'Опыт работы 6 лет'
			},
			item1: {
				txt: 'Приедет через 25 минут'
			}
		},
		phoneHref: '+74951322575',
		phoneNumber: '+7 (495) 132-25-75',
		sliderList: {
		item1: {
			imgSrc: 'person-card__1',
			galleryName: 'gallery-1',
		},
		item2: {
			imgSrc: 'person-card__2',
			galleryName: 'gallery-1',
		},
		item3: {
			imgSrc: 'person-card__3',
			galleryName: 'gallery-1',
		},
		item4: {
			imgSrc: 'person-card__4',
			galleryName: 'gallery-1',
		},
		item5: {
			imgSrc: 'person-card__0',
			galleryName: 'gallery-1',
		},
		item6: {
			imgSrc: 'person-card__1',
			galleryName: 'gallery-1',
		},
		item7: {
			imgSrc: 'person-card__2',
			galleryName: 'gallery-1',
		},
		item8: {
			imgSrc: 'person-card__3',
			galleryName: 'gallery-1',
		},
		item9: {
			imgSrc: 'person-card__4',
			galleryName: 'gallery-1',
		},
		},
    servicesList: {
      item0: {
        desc: 'Аварийный слив топлива',
        priceNumber: '700'
      },
      item1: {
        desc: 'Зарядка аккумулятора',
        priceNumber: '2 500'
      },
    },
    servicesNumber: '12',
    ratingScore: '4.2'
	},
	personItem2: {
		avaSrc: 'ava__1',
		name: 'Юрий',
		statusBusy: true,
		aboutList: {
			item0: {
				txt: 'Опыт работы 6 лет'
			},
			item1: {
				txt: 'Приедет через 25 минут'
			}
		},
		phoneHref: '+74951322575',
		phoneNumber: '+7 (495) 132-25-75',
		sliderList: {
		item1: {
			imgSrc: 'person-card__1',
			galleryName: 'gallery-2',
		},
		item2: {
			imgSrc: 'person-card__2',
			galleryName: 'gallery-2',
		},
		item3: {
			imgSrc: 'person-card__3',
			galleryName: 'gallery-2',
		},
		item4: {
			imgSrc: 'person-card__4',
			galleryName: 'gallery-2',
		},
		item5: {
			imgSrc: 'person-card__2',
			galleryName: 'gallery-2',
		},
		item6: {
			imgSrc: 'person-card__1',
			galleryName: 'gallery-2',
		},
		item7: {
			imgSrc: 'person-card__2',
			galleryName: 'gallery-2',
		},
		item8: {
			imgSrc: 'person-card__3',
			galleryName: 'gallery-2',
		},
		item9: {
			imgSrc: 'person-card__4',
			galleryName: 'gallery-2',
		},
		},
    servicesList: {
      item0: {
        desc: 'Аварийный слив топлива',
        priceNumber: '700'
      },
      item1: {
        desc: 'Зарядка аккумулятора',
        priceNumber: '2 500'
      },
    },
    servicesNumber: '12',
    ratingScore: '4.2'
	},
		personItem3: {
			avaSrc: 'ava__0',
			name: 'Александр',
			aboutList: {
				item0: {
					txt: 'Опыт работы 10 лет'
				},
				item1: {
					txt: 'Приедет через 15 минут'
				}
			},
			phoneHref: '+74951322575',
			phoneNumber: '+7 (495) 132-25-75',
			sliderList: {
				item1: {
					imgSrc: 'person-card__1',
					galleryName: 'gallery-3',
				},
				item2: {
					imgSrc: 'person-card__2',
					galleryName: 'gallery-3',
				},
				item3: {
					imgSrc: 'person-card__3',
					galleryName: 'gallery-3',
				},
				item4: {
					imgSrc: 'person-card__4',
					galleryName: 'gallery-3',
				},
				item5: {
					imgSrc: 'person-card__3',
					galleryName: 'gallery-3',
				},
				item6: {
					imgSrc: 'person-card__1',
					galleryName: 'gallery-3',
				},
				item7: {
					imgSrc: 'person-card__2',
					galleryName: 'gallery-3',
				},
				item8: {
					imgSrc: 'person-card__3',
					galleryName: 'gallery-3',
				},
				item9: {
					imgSrc: 'person-card__4',
					galleryName: 'gallery-3',
				},
			},
	    servicesList: {
	      item0: {
	        desc: 'Аварийный слив топлива',
	        priceNumber: '700'
	      },
	      item1: {
	        desc: 'Зарядка аккумулятора',
	        priceNumber: '2 500'
	      },
	    },
	    servicesNumber: '25',
	    ratingScore: '4.8'
		},
} %}

<section class="persons">
	<ul class="persons__list">
		{% for item in personList %}
			<li class="persons__li">
				{% include 'person-card.twig' %}
			</li>
		{% endfor %}
	</ul>
</section>
