<form class="search {{mod}}">
	<div class="search__input-box">
		<input type="search" class="search__input" placeholder="Например замена аккумулятора BMW 5">
		<img class="search__icon" src="assets/img/icons/search.png" alt="">
	</div>
	<button type="submit" class="search__submit">Поиск</button>
</form>
