<div class="form-elem__select-wrap js-select-wrap">
  <select class="form-elem form-elem--select js-select">
    {% for item in selectList %}
      <option value="{{item.value}}">{{item.txt}}</option>
    {% endfor %}
  </select>
</div>
