<section class="text-block">
	<img src="{{imgSrc|default('assets/img/tools.png')}}" alt="" class="text-block__img">
	<div class="text-block__desc">{{desc|default('Любой автомобиль может внезапно выйти из строя. Готовность к такой ситуации подразумевает наличие контактов нужной компании. Обратитесь к нам, техпомощь на дороге будет оказана в течение 30-60 минут. Мы тщательно организовали работу бригад для достижения такой скорости прибытия специалистов на место аварий и поломок.
Автопомощь включает в себя проведение мелкого ремонта: шиномонтаж, замена или прикуривание аккумулятора, отогрев мотора в зимнее время, отключение сигнализации.
В ситуациях, когда устранение проблемы на месте невозможно, сотрудники организуют буксировку транспортного средства. При повреждениях ходовой части и сильных механических деформациях автомобиль доставляют в автосервис с помощью эвакуатора.')}}</div>
</section>