{% extends 'templates/page.twig' %}
{% block title %}Форма заявка{% endblock %}
{% block page %}
	{% include 'templates/includes/breadcrumbs.twig' %}
	<main class="page-main">
		<div class="container page-main__container">
			{% include 'templates/includes/aside.twig' %}
			<div class="page-main__content">
				{% include 'templates/includes/form-help.twig' %}
			</div>
		</div>
	</main>
{% endblock %}
