{% extends 'templates/page.twig' %}
{% block title %}Разводящая{% endblock %}
{% block page %}
	{% set pagesList = {
		item0: 'main',
		item1: 'static-page',
		item2: 'form-page',
	} %}
	<div class="container">
		<ul>
			{% for item in pagesList %}
				<li>
					<a href="{{item}}.html">{{item}}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
